body {background-color: white;}


.A{
position: absolute;
}

.logo{
	position: absolute;
	padding-right: 50%;
	padding-left: 50%;
	padding-top: 10px;
	width: 1px;
	height: auto;
}

.submit{
	font-family: Brown-Bold;
	font-size: 10px;
	position: absolute;
	padding-right: 0px;
	color: black;
}

.articles{
	font-family: Brown-Bold;
	font-size: 10px;
	position: absolute;
	padding-top: 0px;
	color: black;

}

.drake{
	position: relative;
	top: 30px;
	padding-left: 50%;
	padding-bottom: 40px;
}

.james{
	position: relative;
	top: 30px;
	padding-left: 20%;
	padding-bottom: 40px;
}

h3{
	font-family: Baskerville-Regular;
	font-size: 100px;
	margin-left: 10%;
	margin-right: 10%;
}

p{
	font-family: Baskerville;
	font-size: 30px;
	line-height: 55px;
	margin-right: 10%;
	margin-left: 10%;
}

h2{
	position: absolute;
	font-size: 20px;
	top: 30px;
	left: 10%;
}

.list{
	font-family: Baskerville-Regular;
	font-size: 100px;
	margin-left: 10%;
	margin-right: 10%;
	position: absolute;
	color: black;

}
a:hover {
  	color: red;
}
}a:hover {
    text-decoration: none;
}



img:hover{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}


.A{
	position: relative;
	padding-right: 0%;
}

.B{
	position: relative;
	padding-right: 0%;
	padding-top: 70%;
}

.C{
	position: relative;
	padding-top: 20%;
	padding-left: 55%;
}

.D{
	position: relative;
	padding-left: 30%;
}

.E{
	position: relative;
	padding-right: 10%;
	padding-top: 40%;
}

.1{
	width: 400px;
	height: auto;
	position: relative;
	margin-right:50%;
	margin-left:50%:;
}


