h1{
	font-family: SourceSansPro-Bold;
	text-align: center;
	color: black;
	font-size: 30px;
	letter-spacing: 5px;
}

h3{
	font-size: SourceSansPro-Regular;
	font-size: 10px;
	text-align: center;
}
.padding{
	padding: 20px;
}

p{
	font-family: SourceSansPro-Bold;
	font-size: 100px;
	line-height: 105px;
	text-align: center;
	margin: 20px;
}

.column{
	column-count: 1;
	column-width: 20px;
}