body {background-color: orange;}


.A{
position: absolute;
width: 30px;
height: auto;
}

.B{
position: absolute;
margin-top: 100px;
width: 10px;
height: auto;
}

.C{
position: absolute;
margin-right: 80px;
width: 20px;
height: auto;
}

.D{
position: absolute;
margin-left: 10px;
width: 10px;
height: auto;
}

.E{
position: absolute;
margin-bottom: 100px;
width: 30px;
height: auto;
}

.F{
position: absolute;
margin-right: 3px;
width: 10px;
height: auto;
}

.G{
position: absolute;
margin-right: 3px;
width: 15px;
height: auto;
}