body{background-color: #FFF0F5;
}

h1{
	font-family: SourceSansPro-Bold;
	text-align: center;
	color: black;
	font-size: 30px;
}

h2{
	font-family: SourceSansPro-Bold;
	font-size: 80px;
	text-align: center;
	position: absolute;
}

h3{
	font-family: SourceSansPro-Bold;
	font-size: 20px;
	text-align: center;
}
.padding{
	padding: 20px;
}

p{
	font-family: SourceSansPro-Bold;
	font-size: 150px;
	line-height: 160px;
	text-align: center;
	margin: 20px;
}

.column{
	column-count: 1;
	column-width: 20px;
	border-collapse: collapse;
	column-gap: 100px;
}

.hover:hover{
	color: darkblue;
}

.1 > img:hover {
  width: 100px;
  height: 70px;
  cursor: arrow;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 80px;
  height: auto;
}

.overlay {
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-family: SourceSansPro-Bold;
  font-size: 20px;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



.hover > img:hover {
  width: 450px;
  height: 700px;
}

.gallery{
	position: relative;
    width: 30px;
    height: 50px;
    padding-left: 50px;
}

.foot{
	position: absolute;
    right: 0;
    top: 0;
    display: block;
}





