body {background-color: orange;}


.A{
position: relative;
width: 1px;
height: auto;
padding-right: 5px;
}

.logo{
	position: absolute;
	padding-right: 50%;
	padding-left: 50%;
	padding-top: 10px;
	width: 1px;
	height: auto;
}

.submit{
	font-family: Brown-Bold;
	font-size: 10px;
	position: absolute;
	padding-right: 0px;
	color: black;
}

.about{
	font-family: Brown-Bold;
	font-size: 10px;
	position: absolute;
	padding-top: 0px;
	color: black;

}

.drake{
	top: 20%;
	width: 30%;
}

.james{
	top: 20%;
	width: 70%;
}